.headerContainer {
  background-color: #023864;
}

.nav-link {
  cursor: pointer;
  margin: 0;
  color: white;
}

.nav-link.active {
  /* background-color: rgba(255, 255, 255, 0.881); */
  /* color: black; */
  /* border-radius: 3em; */
  text-decoration: underline;
}

.nav-link:hover {
  color: white;
}

.modal-section {
  transition: opacity 0.3s ease;
}

.dropdown-menu { 
  transform: translate(-1.7em, 2em) !important;
  min-width: 6em !important;
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  visibility: hidden;
  pointer-events: none;
}

.dropdown-menu.show {
  transform: translate(-1.7em, 3.2em) !important;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1200px !important;
    width: 900px !important;
  }
}
