.hero {
  background-color: white;
}
.home_btn {
  color: white !important;
  border: none !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  background-color: #023864 !important;
  border-radius: 5em !important;
}
.user_btn{
    animation: blink 1.5s infinite;   
}


@keyframes blink {
  0%{
    opacity: 0.1;
    transform: scale(1);
  }
  10% {
    opacity: 0.2;
    transform: scale(1.02);
  }
  20% {
    opacity: 0.4;
    transform: scale(1.04);
  }
  30% {
    opacity: 0.6;
    transform: scale(1.06);
  }
  40% {
    opacity: 0.8;
    transform: scale(1.08);
}
50% {
  opacity: 1;
    transform: scale(1.1);
}
}

.arrow {
  font-size: 1.2em !important;
  margin-left: 5px !important;
}

.benefit-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin: 10px 0;
  transition: transform 0.3s ease;
  justify-content: center;
  max-height: 190px;
}
.benefits-container {
  gap: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.cover {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 -15px;
}
.cover .row {
  display: flex;
  justify-content: center;
}
.cover .col-md-3 {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 100%;
}

.benefit-box {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.vehicle-types {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
.vehicle-types h2 {
  columns: #2c3e50;
  font-weight: 600;
}
.vehicle-types .row {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgbx(0, 0, 0, 0.05);
}
